
.footer {
  background-color: #17233f;
  color: #e5e7eb;
  margin-top: auto; 
}


.footer-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 60px;
  flex-wrap: wrap;
  gap: 30px;
}


.footer-brand {
  max-width: 260px;
}

.footer-logo-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.footer-logo-wrap img {
  max-height: 50px;
  width: auto;
}


.footer-brand p {
  font-size: 14px;
  line-height: 1.6;
  color: #cbd5f5;
}


.footer-links h2,
.footer-contact h2 {
  margin-bottom: 10px;
  color: #ffffff;
  font-size: 18px;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 6px;
}

.footer-links a {
  font-size: 14px;
  text-decoration: none;
  color: #e5e7eb;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #2563eb;
}


.footer-contact p {
  font-size: 14px;
  margin-bottom: 6px;
  color: #cbd5f5;
}


.footer-bottom {
  text-align: center;
  padding: 12px;
  font-size: 12px;
  background-color: #020617;
}


@media (max-width: 768px) {

  .footer-content {
    flex-direction: column;
    padding: 30px 20px;
    text-align: center;
  }

  .footer-brand {
    max-width: 100%;
  }

  .footer-logo-wrap {
    justify-content: center;
  }

}